h1, h2 {
  text-align: center ;
}
  
.flag {
  height: 90px ;
  width: 400px ;
}

.yellow {
  background-color: "yellow" ;
}

.green {
  background-color: "green" ;
}

.red {
  background-color: "red" ;
}
