h1, h2 {
  text-align: center ;
}
  
.flag {
  height: 90px ;
  width: 400px ;
  margin: auto ;
}

.yellow {
  background-color: #fdb913 ;
}

.green {
  background-color: #006a44 ;
}

.red {
  background-color: #c1272d ;
}
